<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <div class="container-fluid">
    <%= link_to "iWeather", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link #{active_for_path('about')}" %>
        </li>
        <li class="ms-auto nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= metric? ? "Celsius 째C" : "Fahrenheit 째F" %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= button_to "Celsius 째C", metric_path, method: :post, class: "dropdown-item" %></li>
            <li><%= button_to "Fahrenheit 째F", imperial_path, method: :post, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>